@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Open Sans", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Lora", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

  --color-brand-yellow: #EFC374;
  --color-brand-green: #4D7050;
  --color-brand-rust: #D68B61;
  --color-brand-light: #EBE7E2;
  --color-brand-grey: #A4BEBA;
}
